body {
    background-color: #f2f2f2; /* Cor de fundo */
    background-image: linear-gradient(to bottom, lightblue, #f2f2f2); /* Gradiente de cores */
    background-attachment: fixed; /* Fixar o fundo para evitar rolagem */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  

  
  .login-container h2 {
    text-align: center;
    color: #333;
    margin-top: 0;
  }
  
  .login-container label {
    display: block;
    margin-top: 10px;
    color: #666;
  }
  
  .login-container input[type="text"],
  .login-container input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 40px;
    background-color: #fff;
  }
  
  .login-container button {
    width: 50%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 15px;
  }
  
  .login-container button:hover {
    background-color: #45a049;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .recovery-link {
    text-align: right;
    margin-top: 10px;
  }
  
  .recovery-link a {
    color: #666;
    text-decoration: underline;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  }    

  .login-container {
    width: 300px;
    padding: 50px;
    background-color: rgba(246, 246, 246, 0.5);
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    margin-left: auto;
    margin-right: 150px; /* Ajuste essa margem conforme necessário */
  }
  

  .image-container {
    position: absolute;
    top: 50%;
    left: 300px;
    transform: translateY(-50%);
    text-align: center;
  }
  
  .image-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .image-container p {
    margin-top: 10px;
  }
